@use "/src/styles/global.scss";

.buttonContainer {
  width: 100%;
  border-radius:13px;
  background-color: global.$colorButton;
  padding: 2rem;
  box-shadow: 0 0 5px black;
  color: white;
  border:none;
  font-size: 2rem;
  font-family:var(global.$mainFont) ;
}
