@use "/src/styles/global.scss" as global;

.container {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  color: white;

  background-color: white;
}

.main {
  overflow: hidden;

  flex-grow: 1;
}
