.container {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  color: white;

  background-color: rgb(65, 105, 225);
}

.main {
  overflow: hidden;

  flex-grow: 1;
}
